.articles {
	.content {
		.card{
			padding: 0;
			margin: 3px 3px 7px;
		}
		.row {
			padding: 3%;
			@media screen and (max-device-width: 480px){
				padding: 23px;
			}
		}
	}


	.content.content-12 {

	}

	.content.content-6 {
		display: block;
		padding: 0;
	}

	.content.content-4 {
		display: block;
		padding: 0;
	}

	.card {
		.desc{
			overflow: hidden;
			padding: 6px 0px 18px;
			position: relative;
			.category{
				line-height: 12px;
				padding: 0 0 5px;
				margin: 13px 0 0;
			}
			.category:nth-child(n+2){
				margin: 0 !important;
			}
		}
		h3, img {
			cursor: pointer;
		}
		h3 {
			font-size: 20px;
			line-height: 1.09;
			font-family: Helvetica;
			margin: 10px 0 0;
			font-weight: bold;
		}

		.category {
			float: left;
			margin: 11px 0 0;
			width: 100%;
			text-decoration: none;
			font-family: Helvetica;
			color: #666666;
			text-transform: uppercase;
			font-size: 10px;
			line-height: 12px;
			min-width: 120px;
		}
		.post_date {
			float: left;
			text-decoration: none;
			font-family: Helvetica;
			color: #b2b2b2;
			text-transform: uppercase;
			font-size: 10px;
			line-height: 12px;
			    min-width: 120px;
		}
		.bookmarked {
			position: absolute;
			bottom: 10px;
			right: -11px;
			color: #b2b2b2;
			font-size: 36px;
			width: 36px;
			height: 36px;
			text-align: center;
			&.active {
				color: black;
			}
		}
		&.not-found{
			padding: 20px;
			margin: 23px 23px 5px;
			text-align: center;
			h1,p{
				text-align: center;
			}
			h1{
				@media screen and (max-width: 450px){
					font-size: 23px;
				}
			}
		}
		&.nothing-found{
			display: none;
			padding: 20px;
			margin: 23px 23px 5px;
			h1{
				text-align: center;
				@media screen and (max-width: 450px){
					font-size: 23px;
				}
			}
		}
	}
}

.bookmarks{
	.not-found{
		display: none;
	}
	.articles .card.nothing-found,
	.nothing-found {
		display: block;
	}
}

.articles .card .bookmarked {
	bottom: 13px;
	font-size: 33.7px;
}