<ion-view cache-view="false">
    <ion-content class="news">
        
        <!-- <ion-slides autoplay="true">
			<ion-slide-page ng-repeat="slide in info.slides">
				<img ng-src="{{slide.img}}" />
			</ion-slide-page>
		</ion-slides>
		-->
        <ion-scroll zooming="false" direction="y" style="width: 100%; height: {{height}}px" scrollbar-y="false" scrollbar-x="false">
		<ion-slide-box ng-if="info" on-slide-changed="slideHasChanged($index)" auto-play="true" slide-interval="5000" does-continue="true">
			<ion-slide ng-repeat="slide in info.slides" class="no-animate">
                <div class="box">
                    <img ng-src="{{slide.img}}" />
                </div>
            </ion-slide>
        </ion-slide-box>
        <ion-refresher pulling-text="Pull down to refresh" on-refresh="doRefresh()"></ion-refresher>
        <articles></articles>
        <more></more>
        </ion-scroll>
    </ion-content>
</ion-view>
