<ion-view cache-view="false">
    <ion-content>
        <div class="card portfolio-card">
            <div class="content" >
                <div class="row title responsive-md">
                    <div class="col">
                        <h2>{{title}}</h2>
                    </div>
                </div>
                <div class="row  responsive-md">
                    <div class="col"></div>
                    <div class="col col-50">
                        <div class="list">
                            <a class="item item-icon-left"
                               ng-repeat="portfolio in info.portfolio_details"
                               ng-href="{{portfolio.Portfolio1_url}}"
                               ng-show="portfolio.Portfolio1_url.length > 0"
                               ext-link
                              >
                                <div class="icon-replace" >
                                    <i class="fa fa-external-link-square"></i>
                                </div>

                                <h2>{{portfolio.Portfolio1_text}}</h2>
                            </a>
							
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
